* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

#app {
  font-size: 1.2rem;
  color: white;
  background: linear-gradient(135deg, #5E2FBD 0%, #3E33A4 95.31%);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

[class$="container"] {
  padding: 0 3rem;
}

.results-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2{  
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.positive{
  color: #03FF3B;
}

.negative{
  color: #FF4003;
}

/* images */
.start, .positive-img, .negative-img, h2{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.start{  
  width: 60%;
}

.positive-img{
  width: 70%;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 3rem;
  border-left: 2px rgba(255, 255, 255, 0.5) dashed;
  height: 100%;
}

.title {
  font-family: 'Nixie One', cursive;
  font-size: 3rem;
}

p, h2 {
  font-family: 'Signika Negative', sans-serif;
}

p{  
  font-size: 1.1rem;
  font-weight: 300;
}

.input-field {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  border-bottom: 1px rgba(255, 255, 255, 0.5) solid;
  width: 25rem;
  max-width: 90%;
  padding: 0.5rem;
}
input {
  outline: none;
  border: none;
  background-color: transparent; 
  color: white;
  font-family: 'Taviraj', serif;
  font-size: 0.9rem;
  flex: 1;
}
input::placeholder { 
  color: white;
  opacity: 0.6; 
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  font: 0.9rem 'Taviraj', serif;
  transition: background-color 0s 600000s, color 0s 600000s ;
}

button {
  background: linear-gradient(90deg, rgb(96, 66, 254) 0%, rgb(222, 0, 124) 100%);
  color: white;
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem;
  width: 13rem;
  max-width: 90%;
  font-family: 'Signika Negative', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  transition: all 5s ease-in-out;
}
button:hover {
  background: linear-gradient(90deg, rgb(96, 66, 254) 0%, rgb(96, 66, 254) 100%);
  transition: all 5s ease-in-out;
}