{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Sentiment Analyzer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Signika+Negative:wght@300;400;600&family=Taviraj&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'sentiment/styles.css' %}" />
  </head>
  <body id="app">
    <!-- RESULTS -->
    <div class="results-container">
      <!-- Display the result if it exists -->
      {% if result %}
        <h2 class="">RESULT</h2>
        {% if result == "positive" %}
          <img class="positive-img" src="{% static 'sentiment/images/positive.png' %}"/> 
        {% elif result == "negative" %}
          <img class="negative-img" src="{% static 'sentiment/images/negative.png' %}"/> 
        {% endif %}
        <h2 class="{{ result }}">{{ result|upper }}</h2>
      {% else %}
        <!-- Display the image after opening -->
        <img class="start" src="{% static 'sentiment/images/start.png' %}"/>
      {% endif %}
    </div>
    
    <form class="input-container" method="POST" action="{% url 'home' %}">
      {% csrf_token %}
      <h1 class="title">Sentiment<br/>Analyzer</h1>
      <p>Enter a comment and we will let you know if it is<br/>POSITIVE or NEGATIVE</p>
      <div class="input-field">
        <ion-icon name="chatbox-outline"></ion-icon>
        <!-- Display the form input field -->
        <input type="text" name="input" placeholder="Enter a comment"></input>
      </div>
      <button type="submit">Analyze</button>
    </form>
  
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons/dist/ionicons.js"></script>
  </body>  
</html>